<!DOCTYPE html>
<html lang="en">
	<head>
		<title> RecruitMe </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">

			<!-- Filter -->
			<div class="row">
				<div class="panel panel-default col-lg-4">
					<div class="panel-heading">
						<h4>
						FILTER
						</h4>
					</div>
					<div class="panel-body" style="min-height: 500px; max-height: 500px;">
						<ul class="list-unstyled">
							<!-- Collapsable Company checkboxes -->
							<li>
								<a data-toggle="collapse" href="#companyCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> Company</a>
								<div id="companyCollapse" class="panel-collapse collapse">
							      <form>
							      	<div class="checkbox">
									  <label><input type="checkbox" checked="true" value="">ConocoPhillips</label>
									</div>
									<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">Google</label>
									</div>
							      </form>
							    </div>
						    </li>

						    <!-- Collapsable industry checkboxes -->
							<li>
							    <a data-toggle="collapse" href="#industryCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> Industry</a>
								<div id="industryCollapse" class="panel-collapse collapse">
							      <form>
							      	<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">Oil & Gas</label>
									</div>
									<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">Information Technology</label>
									</div>
							      </form>
							    </div>
						    </li>

						    <!-- Collapsable Pay checkboxes -->
						    <li>
							    <a data-toggle="collapse" href="#payCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> Pay</a>
								<div id="payCollapse" class="panel-collapse collapse">
							      <form>
							      	<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">$50,000 - $59,999</label>
									</div>
									<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">$90,000 - $100,000</label>
									</div>
							      </form>
							    </div>
						    </li>

						    <!-- Collapsable size checkboxes -->
						    <li>
							    <a data-toggle="collapse" href="#sizeCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> Company size</a>
								<div id="sizeCollapse" class="panel-collapse collapse">
							      <form>
							      	<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">0 - 99 </label>
									</div>
									<div class="checkbox">
									  <label><input type="checkbox" value="" checked="true">20,000+ </label>
									</div>
							      </form>
							    </div>
						    </li>
					    </ul>
					</div>
					<div class="panel-footer"></div>
				</div>

				<!-- Main header -->
				<div class="panel panel-default col-lg-8">
					<div class="panel-heading"><h4>FIND A RECRUITER</h4></div>
					<div class="panel-body" style="min-height: 500px; max-height: 500px;">
						<!-- Student Info Table -->
						<table class = "table table-hover">
							<thead>
								<th> First Name </th>
								<th> Last Name </th>
								<th> Email </th>
								<th> Company </th>
								<th> Industry </th>
								<th> Pay </th>
								<th> Company Size </th>
							</thead>
							<tbody>
							 	<tr>
							        <td>Bob</td>
							        <td>Hamilton</td>
							        <td>fakeEmail@ConocoPhillips.com</td>
							        <td>ConocoPhillips</td>
							        <td>Oil & Gas</td>
							        <td>$80,000 - $89,999</td>
							        <td>15,000 - 19,999</td>
							      </tr>
								 <tr>
							        <td>Ryan</td>
							        <td>Wilson</td>
							        <td>fakeEmail@google.com</td>
							        <td>Google Inc.</td>
							        <td>Information Technology, Internet</td>
							        <td>$90,000 - $99,999</td>
							        <td>20,000+</td>
							      </tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>