<!DOCTYPE html>
<html lang="en">
	<head>
		<title> RecruitMe </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- First Name, Last Name, Email -->
			<form>
				<div class="form-group">
					<label for="first">First Name:</label>
					<input type="text" class="form-control" id="first">
				</div>
				<div class="form-group">
					<label for="last">Last Name:</label>
					<input type="text" class="form-control" id="last">
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="text" class="form-control" id="email">
				</div>
				<div class="form-group">
					<label for="id">Student ID:</label>
					<input type="text" class="form-control" id="id">
				</div>
				<div class="form-group">
					<label for="GPA">GPA (on a 4.0 scale):</label>
					<input type="text" class="form-control" id="GPA">
				</div>
			</form>
			<!-- Major Textbox -->
			<form>
				<div class="form-group">
					<label for="major">Major (if more than one, seperate by comma):</label>
					<input type="text" class="form-control" id="major">
				</div>
			</form>
			<!-- Find a candidate button -->
			<button type="button" class="btn btn-lg btn-success">
      			<span class="glyphicon glyphicon-search"></span> 
      			Find your dream job!
    		</button>

		</div>
	</body>
</html>