<!DOCTYPE html>
<html lang="en">
	<head>
		<title> RecruitMe </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">

			<!-- Filter -->
			<div class="row">
				<div class="panel panel-default col-lg-4">
					<div class="panel-heading">
						<h4>
						FILTER
						</h4>
					</div>
					<div class="panel-body" style="min-height: 500px; max-height: 500px;">
						<ul class="list-unstyled">
							<form method="post" action="{{url_for('filterStudents')}}" enctype="multipart/form-data">
							<!-- Collapsable Major radioes -->
							<li>
								<a data-toggle="collapse" href="#majorCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> Major</a>
								<div id="majorCollapse" class="panel-collapse collapse">
							      	<div class="radio">
									  <label><input type="radio" name="majorradio" value="Accounting">Accounting</label>
									</div>
									<div class="radio">
									  <label><input type="radio" name="majorradio" value="Computer Science">Computer Science</label>
									</div>
							    </div>
						    </li>

						    <!-- Collapsable GPA checkboxes -->
							<li>
								    <a data-toggle="collapse" href="#gpaCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> GPA</a>
									<div id="gpaCollapse" class="panel-collapse collapse">
							      	<div class="radio">
									  <label><input type="radio" name="gparadio" value="2-3">2.00 - 2.99</label>
									</div>
									<div class="radio">
									  <label><input type="radio" name="gparadio" value="3-4">3.00 - 3.99</label>
									</div>
									<div class="radio">
									  <label><input type="radio" name="gparadio" value="4+">4.00+</label>
									</div>
						     
							    </div>
						    </li>

						    <!-- Collapsable college radioes -->
						    <li>
							    <a data-toggle="collapse" href="#collegeCollapse"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span> College</a>
								<div id="collegeCollapse" class="panel-collapse collapse">
							      	<div class="radio">
									  <label><input type="radio" name="collegeradio" value="Kansas State University">Kansas State University</label>
									</div>
									<div class="radio">
									  <label><input type="radio" name="collegeradio" value="Oklahoma State University">Oklahoma State University</label>
									</div>
							    </div>
						    </li>
					    </ul>
					    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-repeat"></span> FILTER</button>
					    </form>
					</div>
					<div class="panel-footer">
						<button type="button" class="btn btn-danger" onclick="deleteAccount()">DELETE ACCOUNT</button>
					</div>
				</div>

				<!-- Main header -->
				<div class="panel panel-default col-lg-8">
					<div class="panel-heading"><h4>FIND A CANDIDATE</h4></div>
					<div class="panel-body" style="min-height: 500px; max-height:500px; overflow-y:scroll;">
						<!-- Student Info Table -->
						<table class = "table">
							<!--<thead>
								<th> First Name </th>
								<th> Last Name </th>
								<th> Email </th>
								<th> Major </th>
								<th> College </th>
								<th> GPA </th>
							</thead>-->
							<tbody>
							<tr>
									<td>
							        {% for value in rows %}
							        	<p><b><li>{{ value }} </li></b></p>
							        {% endfor %}
							        </td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script>
			function deleteAccount() {
			    window.alert("Account deleted.");
			}
		</script>
	</body>
</html>