<!DOCTYPE html>
<html lang="en">
	<head>
		<title> RecruitMe </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<style>
  			.btn-xl {
  				font-size:50px;
  				padding:75px;
			    width: 450px;
			    height: 250px;
			    border-radius: 24px;
			}
  		</style>
	</head>
	<body>
	<div class="container">
		<div class="jumbotron">
			<h1>RecruitMe</h1>
			<p>Connecting college students to their dream jobs since 2016&#174</p>
		</div>
		<a href="{{ url_for('signUp') }}" type="button" class="btn pull-left btn-primary btn-xl ">SIGN UP</a>
		<a href="{{ url_for('login') }}" type="button" class="btn pull-right btn-success btn-xl">LOGIN</a>
	</div>
	</body>
</html>