<!DOCTYPE html>
<html lang="en">
	<head>
		<title> RecruitMe </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="container">
		<div class="jumbotron">
			<h1>RecruitMe</h1>
			<p>Connecting college students to their dream jobs since 2016&#174</p>
		</div>
		<h2><small>I am a...</small></h2>
		<button type="button" class="btn btn-primary btn-lg btn-block">Student</button>
		<a href="{{ url_for('recruiter') }}" type="button" class="btn btn-success btn-lg btn-block">Recruiter</a>
	</div>
	</body>
</html>