<!DOCTYPE html>
<html lang="en">
	<head>
		<title> RecruitMe </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="container">
		<div class="row">
			<!-- Student Login -->
			<div class="col-lg-6 panel panel-primary">
				<div class="panel-heading">Student Login</div>
	  			<div class="panel-body">
	  				<form>
	  					<div class="form-group">
	  						<label for="id">Student ID:</label>
							<input type="text" class="form-control" id="id" placeholder="Enter your student ID">
	  					</div>
	  					<div class="form-group">
	  						<label for="id">Password:</label>
							<input type="password" class="form-control" id="id" placeholder="Enter your password">
						</div>
						<a href="{{ url_for('studentViewLogin') }}" type="button" class="btn btn-success">LOGIN</a>
					</form>
	  			</div>
			</div>
			<!-- Recruiter Login -->
			<div class="col-lg-6 panel panel-success">
				<div class="panel-heading">Recruiter Login</div>
	  			<div class="panel-body">
	  				<form>
		  				<div class="form-group">
		  						<label for="id">Email:</label>
								<input type="text" class="form-control" id="id" placeholder="Enter your email">
		  					</div>
		  					<div class="form-group">
		  						<label for="id">Password:</label>
								<input type="password" class="form-control" id="id" placeholder="Enter your password">
		  					</div>
		  					<a href="{{ url_for('recruiterViewLogin')}}" type="button" class="btn btn-success">LOGIN</a>
		  				</div>
	  				</form>
			</div>
		</div>
	</div>
	</body>
</html>